In [1]:
#import dependencies
import pandas as pd
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import datetime as dt
import sqlite3
import numpy as np

In [2]:
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [7]:
database_path = "../stock_data_db.db"

In [8]:
URI = f"sqlite:///{database_path}"

In [9]:
engine = create_engine(URI)
conn = engine.connect()

In [38]:
symbol_company_table=pd.read_sql("SELECT * FROM symbol_company", conn)
symbol_company_table.set_index('field1')

,Symbol,CompanyName,Industry,MarketCap
field1,,,,
0,A,Agilent Technologies,Diagnostics & Research,51.63B
1,AA,Alcoa,Aluminum,7.60B
2,AAC,Ares Acquisition,Shell Companies,1.21B
3,AACG,ATA Creativity Global,Education & Training Services,80.20M
4,AAIC,Arlington Asset Investment,REIT-Mortgage,120.60M
...,...,...,...,...
5858,ZWRK,Z-Work Acquisition,Shell Companies,278.59M
5859,ZY,Zymergen,Chemicals,1.09B
5860,ZYME,Zymeworks,Biotechnology,1.46B
5861,ZYNE,Zynerba Pharmaceuticals,Drug Manufacturers-Specialty & Generic,165.01M
5862,ZYXI,Zynex,Medical Devices,486.30M

In [11]:
print(symbol_company_table.groupby('Industry').count())

                           field1  Symbol  CompanyName  MarketCap
Industry
Advertising Agencies           31      31           31         31
Aerospace & Defense            54      54           54         54
Agricultural Inputs            18      18           18         18
Airlines                       20      20           20         20
Airports & Air Services        11      11           11         11
...                           ...     ...          ...        ...
Utilities-Regulated Gas        13      13           13         13
Utilities-Regulated Water      14      14           14         14
Utilities-Renewable            14      14           14         14
Waste Management               20      20           20         20
n/a                             8       8            8          8

[152 rows x 4 columns]

In [12]:
data_table = pd.read_sql("SELECT * FROM full_stock_df", conn)
data_table

,Date,Open,High,Low,Close,AdjClose,Volume,Name,CompanyName
0,1999-12-31,56.866955,57.179901,54.542202,55.302216,47.680683,1931197.0,A,Agilent Technologies
1,2000-01-03,56.330471,56.464592,48.193848,51.502148,44.404324,4674353.0,A,Agilent Technologies
2,2000-01-04,48.730328,49.266811,46.316166,47.567955,41.012325,4765083.0,A,Agilent Technologies
3,2000-01-05,47.389126,47.567955,43.141991,44.617310,38.468330,5758642.0,A,Agilent Technologies
4,2000-01-06,44.080830,44.349072,41.577251,42.918453,37.003593,2534434.0,A,Agilent Technologies
...,...,...,...,...,...,...,...,...,...
16241142,2021-08-13,14.210000,14.290000,13.860000,14.190000,14.190000,287300.0,ZYXI,Zynex
16241143,2021-08-16,14.150000,14.180000,13.560000,13.650000,13.650000,284100.0,ZYXI,Zynex
16241144,2021-08-17,13.550000,13.640000,12.950000,13.200000,13.200000,386200.0,ZYXI,Zynex
16241145,2021-08-18,13.270000,13.310000,12.680000,13.150000,13.150000,316900.0,ZYXI,Zynex
16241146,2021-08-19,13.050000,13.330000,12.940000,12.960000,12.960000,226100.0,ZYXI,Zynex

In [13]:

data_table.Date = pd.to_datetime(data_table.Date)

In [14]:
#add new columns D, M, Y to make filtering and calculations easier
data_table['day'] = data_table['Date'].dt.day
data_table['month'] = data_table['Date'].dt.month
data_table['year'] = data_table['Date'].dt.year

In [15]:
#data_table.columns

In [16]:
#filter our dataframe to only data within the last 10 years to reduce runtime lag
last_decade_df = data_table.loc[(data_table['year']>2010)]
last_decade_df
#save dataframe as a csv to run locally
#last_decade_df.to_csv('last_decade_stock_data.csv')

,Date,Open,High,Low,Close,AdjClose,Volume,Name,CompanyName,day,month,year
2768,2011-01-03,29.728184,30.143063,29.620888,29.957083,27.412437,4994075.0,A,Agilent Technologies,3,1,2011
2769,2011-01-04,30.035765,30.114449,29.456366,29.678112,27.157160,5017282.0,A,Agilent Technologies,4,1,2011
2770,2011-01-05,29.513592,29.849785,29.327612,29.613733,27.098249,4519035.0,A,Agilent Technologies,5,1,2011
2771,2011-01-06,29.592276,29.928469,29.477825,29.670959,27.150610,4699097.0,A,Agilent Technologies,6,1,2011
2772,2011-01-07,29.699572,29.899857,29.356222,29.771103,27.242252,3810948.0,A,Agilent Technologies,7,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
16241142,2021-08-13,14.210000,14.290000,13.860000,14.190000,14.190000,287300.0,ZYXI,Zynex,13,8,2021
16241143,2021-08-16,14.150000,14.180000,13.560000,13.650000,13.650000,284100.0,ZYXI,Zynex,16,8,2021
16241144,2021-08-17,13.550000,13.640000,12.950000,13.200000,13.200000,386200.0,ZYXI,Zynex,17,8,2021
16241145,2021-08-18,13.270000,13.310000,12.680000,13.150000,13.150000,316900.0,ZYXI,Zynex,18,8,2021
16241146,2021-08-19,13.050000,13.330000,12.940000,12.960000,12.960000,226100.0,ZYXI,Zynex,19,8,2021

In [17]:
#group by each stock to begin calculations and EDA 
#pd.read_csv('last_decade_stock_data.csv')
last_decade_grouped = last_decade_df.groupby(['Name','year','month']).agg({'Close':['mean', 'max']}).reset_index()
last_decade_grouped.head(30)
#save to csv in case work gets lost
#last_decade_grouped.to_csv('last_decade_grouped.csv')

   Name  year month      Close
                          mean        max
0     A  2011     1  30.288269  31.723890
1     A  2011     2  30.709284  32.203148
2     A  2011     3  31.515519  33.440628
3     A  2011     4  33.624821  35.994278
4     A  2011     5  35.958853  37.610874
5     A  2011     6  34.706074  36.559372
6     A  2011     7  33.940272  37.467812
7     A  2011     8  25.146482  29.177397
8     A  2011     9  24.256080  26.494993
9     A  2011    10  24.525853  29.248926
10    A  2011    11  26.134274  27.718168
11    A  2011    12  24.983650  27.052933
12    A  2012     1  28.783262  31.509298
13    A  2012     2  31.374821  32.389126
14    A  2012     3  31.785993  32.804005
15    A  2012     4  30.481402  32.095852
16    A  2012     5  29.083106  30.786839
17    A  2012     6  27.983514  29.434908
18    A  2012     7  26.897609  28.283262
19    A  2012     8  27.510419  29.184549
20    A  2012     9  27.519765  28.526466
21    A  2012    10  26.731385  28.040056
22    A  2012    11  26.504871  27.424892
23    A  2012    12  28.532189  29.606581
24    A  2013     1  31.259622  32.396278
25    A  2013     2  31.047361  32.396278
26    A  2013     3  30.331187  30.987123
27    A  2013     4  30.105670  32.010014
28    A  2013     5  31.745025  33.440628
29    A  2013     6  31.406653  32.553650

In [18]:
highest_volume_df=last_decade_df.groupby(['Name']).agg({'Volume' : ['max', 'mean']})
volumes_df_sorted = highest_volume_df.sort_values(by=('Volume', 'max'),ascending=False)
#volumes_df_sorted.to_csv('../Data/volumes_df_sorted')

In [37]:
top_20_volumes = volumes_df_sorted.nlargest(20, ('Volume', 'mean'))
# .plot.bar(x=None, y=None
#merge the top20 stocks with the symbol company tables to understand more about the stocks.

top_20_volumes.reset_index().rename(columns={'Name': 'Symbol'})

   Symbol        Volume
                    max          mean
0    AAPL  1.880998e+09  2.456721e+08
1    SNDL  2.940297e+09  1.270935e+08
2     BAC  8.596434e+08  1.042539e+08
3     NIO  5.771851e+08  6.891544e+07
4    PLTR  3.385844e+08  6.388887e+07
5    DIDI  2.881555e+08  6.303176e+07
6    NVDA  3.692928e+08  4.873807e+07
7    HOOD  1.757905e+08  4.678493e+07
8       F  4.808795e+08  4.665864e+07
9     AMD  3.250584e+08  4.192684e+07
10   SIRI  4.056765e+08  3.855995e+07
11   MSFT  3.193179e+08  3.673583e+07
12   INTC  1.822699e+08  3.319458e+07
13   TSLA  3.046940e+08  3.279899e+07
14   WISH  3.356025e+08  3.215733e+07
15    PFE  2.998294e+08  3.181634e+07
16   CSCO  5.600402e+08  3.166029e+07
17     FB  5.735764e+08  3.116765e+07
18     MU  1.539061e+08  3.031216e+07
19   CTRM  7.736512e+08  2.982006e+07

KeyError: 'Symbol'